[project]
	description = Mirrors the contents of a git repository into Consul KVs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomas Bezdek (bezda)
[access "refs/for/refs/*"]
	read = group user/Tomas Bezdek (bezda)
	push = group user/Tomas Bezdek (bezda)
	label-Code-Review = -2..+2 group user/Tomas Bezdek (bezda)
	label-Verified = -1..+1 group user/Tomas Bezdek (bezda)
	rebase = group user/Tomas Bezdek (bezda)
	removeReviewer = group user/Tomas Bezdek (bezda)
	submit = group user/Tomas Bezdek (bezda)
[access "refs/heads/*"]
	read = group user/Tomas Bezdek (bezda)
	create = group user/Tomas Bezdek (bezda)
	push = +force group user/Tomas Bezdek (bezda)
	pushMerge = group user/Tomas Bezdek (bezda)
[access "refs/tags/*"]
	push = +force group user/Tomas Bezdek (bezda)
	pushTag = group user/Tomas Bezdek (bezda)
	pushSignedTag = group user/Tomas Bezdek (bezda)
